.example-using-label {
  padding: 5rem;
  margin: 5rem auto;
  height: 19rem;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border-radius: 1px;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 20%);
  background-color: #ebebeb;
  width: 100%;

  .buttons-container {
    display: flex;
    justify-content: space-evenly;

    .btn {
      flex: 1;
      margin: 0 1rem;
      font-size: 2rem;
    }
  }

  .label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
  }

  @media only screen and (max-width: 930px) {
    max-width: 600px;
  }
  @media only screen and (max-width: 750px) {
    max-width: 500px;
  }
  @media only screen and (max-width: 650px) {
    max-width: 90vw;
    height: 23rem;
    padding-top: 2rem;

    .buttons-container {
      flex-direction: column;
      .btn {
        margin: 1rem 0;
      }
    }
  }
  @media only screen and (max-width: 350px) {
    height: 30rem;
  }
}
