.header {
  background-color: #1976d2;
  color: #fff;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-weight: 100;
    display: inline;
    cursor: pointer;
    margin: 0;

    &:hover {
      opacity: 0.8;
    }
  }

  a {
    color: #fff;
    $size: 3.6rem;
    width: $size;
    height: $size;

    &:hover {
      opacity: 0.8;
    }
  }

  svg {
    height: 100%;
    width: 100%;
    fill: currentColor;
  }
}
