.btn {
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 160px;
  color: #fff;
  background-color: #1976d2;
  border-radius: 48px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 200;
  transition: box-shadow 0.5s;

  &:hover:not(:disabled) {
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 26%);
    text-decoration: underline;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
