.color-scheme {
  padding: 3rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-top: 0;
    margin-bottom: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    font-weight: 600;
    color: #333;
    background-color: #f7f7f7;
    align-self: flex-start;
  }

  &__example-wrapper {
    padding: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 5px;
  }

  &__example-text {
    padding: 0.5rem;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
