<p class="intro">
  Open the dev tools terminal, select an example and when interacting with it
  you will see what the @ConsoleHooks decorator logs.
  <small class="intro-sub">
    You can then see in the
    <a
      class="link"
      href="https://github.com/dario-piotrowicz/ngx-console-life-hooks"
      target="_blank"
      >github repository</a
    >
    how the example is set up and how the decorator is applied to its components
  </small>
</p>
<nav class="navigation">
  <a
    *ngFor="let example of examples"
    [routerLink]="example.routerLink"
    class="example-link-card"
  >
    <div class="example-name">{{ example.name }}</div>
    <div class="example-description">{{ example.description }}</div></a
  >
</nav>
